html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: orange;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px black;
    color: black;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: blue;
    border: 1px solid black;
    flex-basis: 440px;
    height: 540px;
    padding: 20px 35px;
}

.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: gray; 
    border: 1px solid black;
    border-radius: 16px;
    box-shadow: 0 4px 30px black;
    color: black;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: white;
    border: 1px solid black;
    border-radius: 16px;
    box-shadow: 0 4px 30px black;
    color: blue;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}


.calc-button:last-child:hover{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: white;
    border: 1px solid black;
    border-radius: 0 4px 30px;
}

.calc-button:hover{
    background-color: inherit;
}

.calc-button:active{
    background-color: gray;
}

.double{
    flex-basis: 47%;
}

.triple{
    flex-basis: 73%;
}